* {
  box-sizing: border-box;
  font: sans-serif;
}

h3 {
  font-weight: bold !important;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  margin-top: 0em !important;
  margin-bottom: 0em !important;
  color: #103949 !important;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #a5cecd;
  color: #103949;
}

main {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  font: sans-serif;
}

.sidebar,
#map {
  padding: .5rem;
}

.sidebar {
  width: 25%;
  height: auto;
  padding-right: 1rem;
}

.sidebar-open {
  display: none;
}

.sidebar-list li{
  cursor: pointer;
}

#map {
  width: 75%;
}

img {
  padding-bottom: 1rem;
}

a {
  color: #00686b !important;
}

p {
  font-size: 12px;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
  .sidebar-open {
    display: inline-block;
  }
  .sidebar-list {
    height: 0;
    opacity: 0;
  }
  .sidebar-list.expand {
    height: auto;
    opacity: 1;
  }
  #map {
    width: 100%;
  }
}

